/*Sessão de Header/Title/Hero*/
.section__title {
  /* display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 208px;
  
  width: 1136px;
  height: 368px; */
  
  
  /* Inside auto layout 
  flex: none;
  order: 1;
  flex-grow: 0; */
}
.title__div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 152px;
  gap: 50px;
  
  width: 1136px;
  height: 368px;

  /* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0; 
}

.title__profile {
width: 368px;
height: 368px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
}
.title__container {
  
}
#sobremim {

}
.title__bio {
width: 751px;
height: 122px;

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 52px;
line-height: 61px;

/* Preto/100% */
color: #464646;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
.title__subsection {
  width: 751px;
height: 52px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 26px;

/* Preto/100% */
color: #464646;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}
.title__network {
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 32px;

width: 467px;
height: 24px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
}
.title__network__item {

}

  