.footer {
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 32px;
gap: 10px;

width: 1440px;
height: 102px;

/* Preto/branco */
background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
}
.footer__rodape {
    width: 234px;
height: 38px;

font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;

/* Preto/100% */
color: #464646;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}