section.about {
display: flex;
flex-direction: column;
align-items: center;
padding: 64px;
gap: 10px;

width: 1440px;
height: 383px;

/* Azul/10% */
background: #EAF2FD;
}
.about__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  
  width: 1136px;
  height: 255px;
}
.about__title {
  width: 166px;
  height: 38px;
  
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  
  /* identical to box height */
  
  /* Preto/100% */
  color: #464646;
  
  
  /* Inside auto layout */
  /* flex: none;
  order: 0;
  flex-grow: 0; */


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}
.about__paragraph {
  width: 751px;
height: 133px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

/* Preto/100% */
color: #464646;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
}



